<div class="sing-in-container">
  <form name="ctrl.form">
    <div class="panel panel-primary">

      <div class="panel-heading">
        <h4 class="panel-title">Please Sign In</h4>
      </div>

      <div class="panel-body text-center">
          <cdp-input label="Email"
                     type="email"
                     model="ctrl.data.email"
                     model-ctrl="ctrl.form.Email"
                     validators="{ required: true, email: true }"
          ></cdp-input>
          <cdp-input label="Password"
                     type="password"
                     model-ctrl="ctrl.form.Password"
                     model="ctrl.data.password"
                     validators="{ required: true, password: true }"
          ></cdp-input>
      </div>

      <div class="panel-footer text-right">
        <button type="submit"
                ng-click="ctrl.sendData($event)"
                class="btn btn-primary"
        >
          SignIn
        </button>
      </div>
    </div>
  </form>

</div>
